{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:nuxt/recommended",
    "plugin:prettier/recommended",
    "prettier",
    "prettier/vue"
  ],
  "plugins": ["prettier"],
  // add your custom rules here
  "rules": {
    "no-console": "off",
    "lines-between-class-members": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-explicit-any": ["off"],
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-non-null-assertion": "off", // 非空断言 off-放开
    "vue/no-v-html": "off",
    "vue/html-self-closing": [
      "error",
      {
        "html": { "normal": "never", "void": "always" },
        "svg": "always",
        "math": "always"
      }
    ]
  }
}
